:root{
    background-color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    color: red;
}

h3 {
    background-color: blue;
    color:white;
}

p {
    color: white;
}

p a {
    color: yellow;
    text-decoration: none;
}

p a:after {
    color: red;
    text-decoration: none;
}

p a:hover:after {
    color: green;
    text-decoration: none;
}

section {
    background-color: blue;
    color:white;
}

body {
    color: black;
}