*{
    background-color: yellowgreen;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    color: red;
}

h3 {
    background-color: blue;
    color:rgb(3, 0, 44);
}

section {
    background-color: blue;
    color:rgb(3, 0, 44);
}

body {
    color: white;
}